<!DOCTYPE html>
<head>
  <title>i tried lol thanks eliza</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Thanks for playing!</h1>
  <h3>ᕙ(▀̿ĺ̯▀̿ ̿)ᕗ</h3>
  <h3>You got:</h3>
  <h3>{{ correct_answer }} correct, and {{ wrong_answer }} wrong!</h3>
</body>